<!--The content below is only a placeholder and can be replaced.-->

   
  
      <div style="text-align:center">
      <h1>
          Week6 Assignment
        </h1>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      
      
  <nav>
    <i class="fas fa-user-secret"></i>&nbsp;<a routerLink="/login" routerLinkActive="active">login</a> &nbsp;&nbsp;
    <i class="far fa-clipboard"></i>&nbsp;<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a> &nbsp;&nbsp;
      <i class="fas fa-link"></i>&nbsp;<a routerLink="/welcome" routerLinkActive="active">Lazy Loading</a>&nbsp;&nbsp;
      <i class="fas fa-building"></i>&nbsp;<a routerLink="/departments" routerLinkActive="active">Departments</a>&nbsp;&nbsp;
      <i class="fas fa-user-graduate"></i>&nbsp;<a routerLink="/students" routerLinkActive="active">Students</a>
    </nav>
</div>
<router-outlet></router-outlet>
